---
import MainLayout from "../layouts/MainLayout.astro";
import FormSection from "../components/FormSection.astro";
import PdfSection from "../components/PdfSection.astro";
---

<MainLayout>
    <div class="flex flex-col items-center p-8 min-h-screen">
        <h1 class="pb-4 text-xl font-bold">Chord Charts</h1>
        <div class="flex flex-1 gap-16 px-16 w-full">
            <FormSection />
            <PdfSection />
        </div>
    </div>
</MainLayout>
